@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            Select Author
        </tr>
    </thead>
    <tbody>
        while(var obj in Model)
        {
        }
    </tbody>
</table>